html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: -1;
}

#header_logo {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 100px;
    z-index: 9999;
}

#github_logo {
    position: absolute;
    bottom: 20px;
    right: 30px;
    height: 30px;
    z-index: 9999;
}

#calibration_icon {
    position: absolute;
    bottom: 20px;
    left: 30px;
    height: 30px;
    z-index: 9999;
}

#volume_icon {
    position: absolute;
    bottom: 20px;
    left: 90px;
    height: 30px;
    z-index: 9999;
}

#trail_icon {
    position: absolute;
    bottom: 20px;
    left: 140px;
    height: 30px;
    z-index: 9999;
}

#confirm_calibration_btn {
    position: absolute;
    z-index: 9999;
    display: none;
}

.ui_item:hover {
    cursor: pointer;
}

#main_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 